kubernetes-nuc11a.yaml
kubernetes-nuc11b.yaml
kubernetes-nuc11c.yaml
kubernetes-nuc5.yaml
kubernetes-pic-1.yaml
kubernetes-pic-2.yaml
kubernetes-pic-3.yaml
kubernetes-pic-4.yaml
kubernetes-pic-5.yaml
talosconfig
